* {
    font-size: 16px;
    font-family: 'Overlock', sans-serif;
    box-sizing: border-box;
}

body {
    background-image: url("https://cdn.pixabay.com/photo/2015/06/30/18/36/st-826688_1280.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #DDD;
    background-color: #222;
}

h2 {
    font-size: 1.5rem;
}

.cabecalho {
    border: 2px solid #DDD;
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 3rem auto 0 auto;
    background-color: rgba(28, 28, 28, 0.3);
    height: 6.5rem;
    padding: 1.25rem;
}

.cabecalho-marca {
    align-self: center;
}

.cabecalho-marca-link {
    font-family: 'Caveat', cursive;
    color: #DDD;
    font-size: 3rem;
    text-decoration: none;
}

.cabecalho-menu {
    align-self: center;
}

.cabecalho-menu-lista {
    list-style-type: none;
    display: flex;
}

.cabecalho-menu-lista-link {
    color: #DDD;
    text-decoration: none;
    padding: 0.25rem;
    margin: 0 0.625rem;
    font-size: 1.125rem;
}

.cabecalho-menu-lista-link:hover {
    color: #F87;
    border-bottom: 2px solid #F87;
    background-color: rgba(28, 28, 28, 0.65);
}

.conteudo {
    height: calc(100vh - 9.5rem);
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: end;
    align-items: center;
}

.conteudo-caixa {
    width: 50%;
    background-color: rgba(28, 28, 28, 0.5);
    border-right: 2px solid whitesmoke;
    padding: 1rem;
}

.conteudo-subtitulo {
    color: #F87;
    font-size: 2.5rem;
}

.conteudo-frase {
    font-size: 1.5rem;
    font-style: italic;
}

.rodape {
    border: 1px solid #F33;
}

.empresa {
    color: #F33;
}