* {
    font-size: 16px;
    font-family: 'Overlock', sans-serif;
    box-sizing: border-box;
}

body {
    background-image: url("https://cdn.pixabay.com/photo/2015/06/30/18/36/st-826688_1280.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #DDD;
    background-color: #222;
}

h2 {
    font-size: 1.5rem;
}

.cabecalho {
    border: 2px solid #DDD;
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 3rem auto 0 auto;
    background-color: rgba(28, 28, 28, 0.3);
    height: 6.5rem;
    padding: 1.25rem;
}

.cabecalho-marca {
    align-self: center;
}

.cabecalho-marca-link {
    font-family: 'Caveat', cursive;
    color: #DDD;
    font-size: 3rem;
    text-decoration: none;
}

.cabecalho-marca-icone {
    height: 2.25rem;
}

.cabecalho-menu {
    align-self: center;
}

.cabecalho-menu-lista {
    list-style-type: none;
    display: flex;
}

.cabecalho-menu-lista-link {
    color: #DDD;
    text-decoration: none;
    padding: 0.25rem;
    margin: 0 0.625rem;
    font-size: 1.125rem;
}

.cabecalho-menu-lista-link:hover {
    color: #F87;
    border-bottom: 2px solid #F87;
    background-color: rgba(28, 28, 28, 0.65);
}

.conteudo {
    border: 2px solid whitesmoke;

    width: 95%;
    margin: 5rem auto;
    display: flex;
}

.conteudo-esquerda {
    width: 40%;
    background-image: url("images/goulash-4999166_1280.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.conteudo-direita {
    width: 60%;
    background-color: rgba(245, 245, 245, 0.8);
    color: #222;
    padding: 1rem;
}

.conteudo-index {
    height: calc(100vh - 9.5rem);
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: end;
    align-items: center;
}

.conteudo-caixa-index {
    width: 50%;
    background-color: rgba(28, 28, 28, 0.5);
    border-right: 2px solid whitesmoke;
    padding: 1rem;
}

.conteudo-titulo {
    color: orangered;
    font-weight: 900;
    font-size: 1.75rem;
}

.conteudo-subtitulo {
    color: orangered;
    font-size: 1.25rem;
}

.conteudo-texto {
    text-align: justify;
}

.conteudo-imagem-1 {
    width: 360px;
    float: right;
    margin: 0 0 1rem 1rem;
}

.conteudo-imagem-2 {
    width: 120px;
    float: left;
    margin: 0 1rem 1rem 0;
    border-radius: 100%;
}

.conteudo-subtitulo-index {
    color: #F87;
    font-size: 2.5rem;
}

.conteudo-frase {
    font-size: 1.5rem;
    font-style: italic;
}

.rodape {
    border-top: 2px solid whitesmoke;
    min-height: 15rem;
    background-color: #222;
    position: absolute;
    left: 0;
    width: 100%;
}

.rodape-caixa {
    display: flex;
    justify-content: space-between;
    width: 95%;
    height: 100%;
    margin: 0 auto;
    padding-bottom: 1.5rem;
}

.rodape-marca {
    font-family: 'Caveat', cursive;
    color: #DDD;
    font-size: 2.5rem;
}

.rodape-marca-icone {
    height: 1.95rem;
}

.laranja {
    color: #F87;
}

.verde {
    color: #25D366;
}

.rodape-subtitulo {
    color: #F87;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.rodape-direita {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    max-width: 40%;
    text-align: right;
}

.rodape-link {
    text-decoration: none;
}

.rodape-icone-link {
    font-size: 1.75rem;
    margin-left: 0.5rem;
    color: whitesmoke;
}

.rodape-icone-link:hover {
    color: #F87;
}

.rodape-atencao {
    color: yellow;
}